body{
    font-family: 'Times New Roman', Times, serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: rgb(232, 220, 206);
}
em{
    color: #555;
    font-style: italic;
}